section {
    background-color: #F5EEE6;
    width: 400px;
    height: 800px;
}
div {
    background-color: #E6A4B4;
    width: 70%;
    height: 20%;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}
h2 {
    font-size: 2em;
    margin-left: 1em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}
article {
    font-size: 30px;
}
button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #E6A4B4;
    color: blue;
}

ul {
    font-size: 1.5em;
}